$main-color: #F2B807;
$main-color-darker: #c99700;
$secondary-color: #bf372a;
$secondary-color-light: #ff5343;
$secondary-color-darkest: #bf372a80;
$secondary-color-background-gradient: #ed423240;
$hr-color: #BF996Ba4;
